@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  /* background-color: #555; */
  /* color: #333; */
  font-family: 'Arial', 'Georgia', sans-serif,"Times New Roman";
  /* background-image: url(../images/logos/earth-bkg.png); */
}


html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  padding-top: 30px;
  padding-bottom: 30px;
}

td {
  vertical-align: top;
  text-align: left;
}

a, 
a:link,
a:visited {
  text-decoration: none;
  color: #065388;
}

a:hover {
  color: #990000;
}

img {
  border:  none;
}

#container {
  margin: auto;
  width: 880px;
  background-color: #000;
  font-size: 14px;
  overflow: hidden;
  box-shadow: 0 0 10px #111;
  border-radius: 15px;
}

#wrapper {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
  overflow: hidden;
}

#banner {
  margin: 0;
  position: relative;
  color: #fff;
  background-color: #fff;
  height: 240px;
  width: 880px;
  /* background-image: url(../images/logos/singapore.jpeg); */
  /* background-image: url(../images/logos/smu_campus_evening.png); */
  background-image: url(../images/logos/SMU_campus_day.png);
  background-size: 880px 240px;
}

#name {
  position: absolute;
  top: 105px;
  left: 0px;
  float: left;
  background-image: url(../images/black50.png);
  padding-bottom: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#name h1 {
  margin: 0;
  padding: 10px;
  font-size: 36px;
  font-weight: normal;
  font-family:"Times New Roman", Georgia,serif;
}

#name p {
  margin: 0;
  padding: 5px 10px;
  font-size: 20px;
  font-style: italic;
  font-family:"Times New Roman", Georgia,serif;
}

#nav {
  overflow: hidden;
  width: 880px;
  height: 40px;
  background-color: #c8e8f7;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  position: relative;
  height: inherit;
}

#nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  height: inherit;
}

#nav ul li a {
  margin: auto;
  padding: 8px 15px;
  display: block;
  color: #333;
  text-decoration: none;
  /* line-height: 30px; */
  font-size: 20px;
}

#nav ul li a:hover {
  color: #ffffff;
}

li.ActiveButton {
  background-color: #66CCFF;
}

#page {
  border-top: 1px solid #e5e5e5;
  padding: 8px 0;
  /* background-color: #eee; */
  background-color: #f0f0f0;
  overflow: auto;
  clear: both;
}

#content {
  margin: 0 20px;
  line-height: 160%;
  /* font-size: 15px; */
  font-size: 14px;
}

#content h2{
  margin-top:10px;
  margin-bottom: 1px;
  font-size: 20px;
  font-weight: bold;
  font-family:"Times New Roman", Georgia,serif;
}
#content p{
  margin-top: 3px;
  margin-bottom: 10px; 
}

#sidebar {
  border: 1px solid #e5e5e5;
  margin: 0 0 0 3px;
  min-width: 210px;
  /*min-height: 400px;*/
  float: right;
  line-height: 140%;
  background-color: #ddd;
}

#sidebar h3, #sidebar p {
  padding: 0 10px;
}

#footer_modified_time {
  padding: 8px;
  overflow: auto;
  color: #ffffff;
  font-size: 80%;
  line-height: 150%;
  float: right;
  display: inline;
  font-style:italic;
  font-family:"Times New Roman", Georgia,serif;
  margin-right: 15px;
}

#footer_rights {
  padding: 8px;
  overflow: auto;
  color: #ffffff;
  font-size: 80%;
  line-height: 150%;
  float: left;
  display: inline;
  font-style:italic;
  font-family:"Times New Roman", Georgia,serif;
  margin-left: 20px;
}

#footer_modified_time img {
  float: left;
  margin-right: 15px;
  font-family: Trebuchet,serif;
}

h2 {
  margin-top: 0;
  color: #2171b5;
  font-weight: normal;
  font-size: 200%;
}

.right {
  margin: 0 0 15px 15px;
  float: right;
}

.left {
  margin: 0 15px 15px 0;
  float: left;
}

#contentbar {
  margin: 0 25px 0 0px;
  width: 210px;
  float: left;
  line-height: 140%;
  background-color: #fff;
}

#contentbar h3, #contentbar p {
  padding: 0 10px;
}

#fac_photo {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  /* width: 190px;
  height: 280px; */
  width: 150px;
  height: 210px;
  display: block;
  border-radius: 20px;
}

span.chinese{
  font-weight: bold;
  font-family: 'Homemade Apple', cursive, 楷体;
  /* font-size: 22px; */
}
span.highlight{
  font-weight: bold;
  font-size: 15px;
}

.newsTime {
  width: 100px;
}

.talkTime {
   width: 100px;
}
td.talkTime{
  font-weight: normal!important;
}

span.motto{
/*  font-style:italic;*/
  font-family:"Times New Roman", Georgia,serif;
  font-weight: bold;
}

span.align_right{
  font-style:italic;
  font-family:"Times New Roman", Georgia,serif;
  float: right;
}


#ul_items{
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
}

#ul_items ul{
  margin-top: 0px;
}

div.list_row{
  position: relative;
  width: auto;
  margin-top:0px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 5px;

  content: "";
  display: table;
  clear: both;
}

div.list_year{
  width: 90px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 0px;
  float: left;
  font-family:"Times New Roman", Georgia,serif;
  font-weight: bold;
}

div.list_content{
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

ul.no-bullet{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

ul.remove_list_style {
  list-style: none;
  padding-left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.review_list {
  list-style: none;
  padding-left: 2px;
  margin-top: 0px;
  margin-bottom: 7px;
}

div.float_stop{
  clear: both;
}

#small_top_botto p{
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.whole_row{
  margin-bottom: 15px;
  clear: both;
}

div.last_row {
  margin-bottom: 0px!important;
}

li.paper_list{
  padding: 5pt 5pt 5pt 0pt;
}

span.paper_pub_site{
  font-size:11pt;
  font-style:italic;
  font-family:"Times New Roman", Georgia, serif; 
  font-weight: 700;
}

span.link_item{
  font-weight: bold;
  font-size: 13pt;
  font-style: italic;
  font-family: Arial,Verdana,Sans-serif;
}

h2.head_title{
  background-color: #33FF66;
}

p.empty{
	text-indent:40px; 
	font-size:20px; 
	font-style: italic; 
	font-family:"Times New Roman", Georgia,serif;
}

table{
  display: table;
}

.marginAfterHeading{
  margin-top: 6px;
  margin-left: 25px;
}

.pub_subTitle{
  margin-top: 12px;
  margin-bottom: 2px;

  text-align: center;
  color: #4287f5;
  font-size: 18px;
}

.pub_image{
  float: left;
  width: 180px;
  min-height: 100px;
  max-height: 170px;
  margin-left: 8px;
  margin-right: 20px;

  border: 1px solid #ddd;
  border-radius: 4px;
}

tr.one_paper td{
  padding-top: 5px;
  padding-bottom: 10px;
}

.proj_image{
  float: left;
  width: 180px;
  min-height: 150px;
  max-height: 210px;
  margin-left: 8px;
  margin-right: 20px;

  border: 1px solid #ddd;
  border-radius: 4px;
}

.pub_title{
  font-weight: bold;
}

.pub_me{
  font-weight: bold;
  text-decoration: underline;
}

.project_Description{
  font-weight: bold;
  font-size: 16px;
    font-family:"Times New Roman", Georgia,serif;
}


/*h2.float_stop{
  clear: both;
}*/

/* .contentbar1 {display:none}  */
.contentbar2 {display: none;}
/* .contentbar3 {display:none}  */
/* .contentbar4 {display:none}  */
/* .contentbar5 {display:none}  */



.post{
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
}

.post .content {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post img {
  max-width: 700px;
}

.photoIntro {
  font-size: 17px;
}


.work_title {
  width: 520px;
}

#clustrmaps-widget-v2{
  /* remove the clustermap counter  */
  display: none; 
}

#visitor_counter{
  display: inline-block;
  margin-left: 130px;
  margin-top: 5px;
}